    <h1 class="jumbotron text-center">Bienvenid@@ @User.Identity.Name</h1>


<div class="container d-flex flex justify-content-center">
   <div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="/Content/Images/newPet.jpg" alt="Mascota">
  <div class="card-body">
    <h5 class="card-title text-warning">Administrar Mascotas</h5>
    <p class="card-text">Desde esta area podrás ver tus mascotas y agregar nuevas</p>
    <a href="/Pets/MyPets" class="btn btn-primary text-center">Administrar Mascotas</a>
  </div>
  </div>



   <div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="/Content/Images/newappointment.jpg" alt="Calendario">
  <div class="card-body">
    <h5 class="card-title text-warning">Ver Citas</h5>
    <p class="card-text">Desde esta area podrás ver tus citas programadas y agendar nuevas citas para tus peluditos</p>
    <a href="/Pets/MyAppointments" class="btn btn-primary text-center">Ver Citas</a>
  </div>
  </div>


</div>
